@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
}
body{
    background:#fffefe;
}
section
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    overflow: hidden;
    margin:0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:#1C1E1D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}


.navbar
{
    position: relative;
    left: 15rem;
}
.navbar a{
    font-size: 1.7rem;
    color: #FFFFFF;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
  color: #FFFFFF;
  background: #747072;
  border-radius: 15px;
  padding-left: 12px;
  padding-right: 12px;
}
#menu-icon{
    font-size: 3.6rem;
    color:#fff;
    display: none;
}
.image img
{
    position: relative;
    left: -8rem;
}
.home
{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #242424;
}
.home-content
{
    position: relative;
    left: -5rem;
}
.home-img img
{
    position: relative;
    left: 8rem;
    width: 35vw;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}
.home-content h3 :nth-of-type(2){
    margin-bottom: 2rem;

}
span{
    color: #0ef;
}
.home-content h1
{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p 
{
    font-size: 1.6rem;
    color: #fff;
    margin-top: 15px;

}

.btn:hover{
    box-shadow: none;
}
.btn {
    margin-top: 13.5rem;
    color: #000000;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    /* img size is 50x50 */
    background: url("5309843771871049235_121 5.png") repeat 0 0;
    
    animation: bg-scrolling-reverse 10s infinite;
    animation-timing-function: linear;
  }
  .btn{
    position: absolute;
    bottom: 0;
    left: 30rem;
    padding: 8px;
    padding-left: 3rem;
    padding-right:3rem ;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #747072;
    color:#1C1E1D;
   
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 700;
    transition: .5s ease;
}
  @keyframes bg-scrolling-reverse {
    100% {
      background-position: 50px 50px;
    }
  }
  @media (max-width : 991px){
      .image img {
         display: none;
      };
      .home-content 
      {
          font-size: 10px;
      }
      .header{
          padding: 2rem 3%;
      }
      section{
          padding: 10rem 3% 2rem;
      }
  }
.about
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #CCD2CE;
}
.about-content img
{
    position: relative;
    top: 0;
    width: 20vw;
    animation: floatImage 4s ease-in-out infinite
}

.imk ul
{
    list-style: none;
}
.imk li
{
    margin:10rem;
}
.imk li a {
    text-decoration:none ;
    padding: .8rem ;
    font-weight: 900;
    font-size: 20px;
    color: #000000 ;
   
}
.imk li a:hover
{
    filter: drop-shadow(9px 8px 8px #1c1c1c);
    transition:1s ease all;
    transform: scale(.9) translateY(-5%);
}


.about {
  margin-top: 0;
  color: #000000;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("5309843771871049235_121_5-removebg-preview.png") repeat 0 0;
  
 
}

@keyframes bg-scrolling-reverse {
    0% {
        background-position: -40px -40px;
      }
      50% {
        background-position: 40px 40px;
      }
  100% {
    background-position: -40px -40px;
  }
}
@media (max-width : 991px){
    .image img {
       display: none;
    };
    .home-content 
    {
        font-size: 10px;
    }
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
}
@media(max-width:768px){
    #menu-icon{
   
        display: block;
        color: #fff;
        z-index: 10;
    }
    .home-content .biba
    {
        width: 20vw;
    }
     .about-content img {
        width: 7vw;
     }
.navbar{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 1rem 3%;
    background: #1c1c1c;
    border-top:.1rem solid rgba(0,0,0,.2) ;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2)  ;
}
.navbar.active{
    display: block;
}
.navbar a{
    display:block;
    font-size: 2rem;
    margin: 3rem 0;
}
.home{
    flex-direction: column;
}
.home-content
{
    position: relative;
    left: 1.5rem;
}
.home-content h3{
    font-size: 2.6rem
}
.home-content h1{
    font-size: 5rem;
}
.home-img img {
    width: 50vh;
    margin-top: 4rem;
}
.about{
    flex-direction:column-reverse ;
}
.about img{
    width: 70vh;
    margin-top: 4rem;
}
}
@media (max-width : 450px ){
    html{
        font-size: 50%;
    }
    .about-content img {
        width: 30vw;
    }
}
@media (max-width : 350px ){
    .home-img img {
        width: 90vw;
    }
    
    
}
.services{
    background: url("5309843771871049235_121_5-removebg-preview.png");
}


.services {
    margin-left: 0;
    padding-left: 0;
   
}

 .services .container div {
    float: left;
    width: 20rem;
    margin: 5rem;
    border: #000000 solid 2px;
   align-items: center;
   justify-content: space-around;
    padding: 8rem;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #fff;
}

.services .container div  img
{
    height: 40px;
     width: 40px;
    position: relative;
    top: -3rem;    
}

.services .container div p 
{
    font-size: x-large;
    font-weight: 800;
    position: relative;
    top: 100%;
    left: -50%;
   
}
